# Django #
node_modules
*.log
*.pot
*.pyc
__pycache__
media
.ruff_cache
.trunk

static_collected
static/CACHE
# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

.DS_Store