{% extends "_base.html" %}
{% block title %}
    LENS UNO | Password change
{% endblock title %}
{% block content %}
    <section class="add-listing">
        <div class="add-listing__title-box">
            <div class="container">
                <h1 class="add-listing__title">Change Password</h1>
            </div>
        </div>
        <div class="break"></div>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <button type="submit" class="add-listing__submit">Change your password</button>
            </form>
            <hr/>
            <div class="text-xs">
                <div class="text-accent mb-2">
                    <a href="{% url 'users:settings' %}">Back to settings</a>
                </div>
            </div>
            <div class="break"></div>
        </div>
    </section>
{% endblock content %}
