{% extends '_base.html' %}
{% block content %}
    <!-- user-detail
================================================== -->
    <section class="user-detail">
        <div class="user-detail__profile">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        {% if is_owner %}
                            <a href="{% url 'users:settings' %}"
                               style="margin-left: 10px"
                               class="btn-cancel-small">Edit profile</a>
                        {% endif %}
                        <div class="user-detail__profile-box">
                            <a class="user-detail__profile-image" href="#">
                                <img src="{{ profile.avatar.url }}" alt="">
                            </a>
                            <h3 class="user-detail__profile-title">
                                {{ profile.first_name }} {{ profile.last_name }}
                                <span class="user-detail__profile-location">
                                    <i class="fa fa-map-marker"></i>
                                    {{ profile.location.place }}
                                </span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        {% if profile.is_freelancer %}
                            <a class="btn-default btn-default-red"
                               href="{{ profile.portfolio.get_absolute_url }}">
                                <i class=" la la-camera-retro"></i>
                                Portfolio
                            </a>
                            <ul class="user-detail__profile-list">
                                <li>
                                    <a href="#gigs">
                                        <span>{{ gigs.count }}</span>
                                        Gigs
                                    </a>
                                </li>
                                {% if profile_comments or gig_comments %}
                                    <li>
                                        <span>{{ profile_comments.count|add:gig_comments.count }}</span>
                                        Reviews
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    <img class="single-post__image" src="upload/single-blog.jpg" alt="">
                    <div class="single-post__quote">{{ profile.bio }}</div>
                </div>
            </div>
        </div>
        <!-- user scroll menu box -->
        <!-- tips reviews box -->
        <!-- tips reviews box -->
        {% if gig_comments %}
            <div class="user-detail__review element-waypoint" id="tips-review-box">
                <div class="container">
                    <h2 class="user-detail__subtitle">{{ profile.first_name }}'s reviews</h2>
                    <div class="user-detail__review-box owl-wrapper">
                        <div class="owl-carousel" data-num="3">
                            {% for comment in gig_comments %}
                                <div class="item">
                                    <!-- review item module -->
                                    <div class="review-item">
                                        <div class="review-item__content">
                                            <div class="avatar-wrapper">
                                                <a class="user-detail__profile-image-small"
                                                   href="{{ comment.author.get_absolute_url }}">
                                                    <img src="{{ comment.author.avatar.url }}" width="50" height="50">
                                                </a>
                                                <div class="text-wrapper">
                                                    <div class="text">{{ comment.author.first_name|capfirst }} reviewed on {{ comment.date|date }}</div>
                                                    <div class="stars-wrapper">
                                                        {% if comment.rating %}
                                                            {% for i in comment.rating|times %}
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     width="12"
                                                                     height="12"
                                                                     fill="currentColor"
                                                                     class="bi bi-star-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                                </svg>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="review-item__title"></h3>
                                            <p class="review-item__description">{{ comment.comment|truncatechars:220 }}</p>
                                            <div class="review-item__post">
                                                <div class="review-item__post-content">
                                                    <h2 class="review-item__post-title">
                                                        <a href="{{ comment.gig.get_absolute_url }}">{{ comment.gig.title }}</a>
                                                    </h2>
                                                    <p class="review-item__post-location">
                                                        <i class="fa fa-map-marker"></i>
                                                        {{ comment.gig.location.place }}
                                                    </p>
                                                    <span class="review-item__post-reviews">
                                                        {% comment %} <i class="fa fa-comment-o"></i> {% endcomment %}
                                                        {{ comment.gig.get_category_display }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end review item module -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- page-title-module
================================================== -->
        <section class="blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-page__box">
                            <!-- single-post module -->
                            <div class="single-post">
                                <!-- comments -->
                                <section class="listing-detail">
                                    <div class="listing-detail__content">
                                        <!-- Contact form module -->
                                        {% if not is_owner %}
                                            {% if user.is_authenticated %}
                                                <form class="contact-form inner-review" method="post">
                                                    {% csrf_token %}
                                                    <div class="inner-review__form">
                                                        <img src="{{ user.avatar.url }}" alt="">
                                                        <div class="inner-review__form-box">
                                                            {{ form.comment }}
                                                            <div class="row">
                                                                <div class="col-md-6">{{ form.rating }}</div>
                                                                <div class="col-md-6"></div>
                                                            </div>
                                                            <button type="submit"
                                                                    class="contact-form__submit"
                                                                    _="on click wait 50ms then add [@disabled]">
                                                                Sumbit Comment
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                        <!-- End Contact form module -->
                                        <!-- tips & reviews-box -->
                                        <div class="listing-detail__reviews element-waypoint"
                                             id="tips-reviews-box">
                                            <h2 class="listing-detail__content-title">Comments</h2>
                                            <div class="listing-detail__reviews-box">
                                                <!-- reviews list -->
                                                <ul class="reviews-list">
                                                    {% if comments %}
                                                        {% include "comments/comment.html" %}
                                                    {% endif %}
                                                    {% if not comments %}<div>This profile has no reviews. Share your experience!</div>{% endif %}
                                                </ul>
                                                <!-- reviews-list -->
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    {% if profile.is_freelancer %}
                        <div class="col-lg-4" id="gigs">
                            <div class="sidebar">
                                <h2 class="user-detail__subtitle">
                                    {{ profile.first_name }}'s gigs <span>({{ gigs.count }})</span>
                                </h2>
                                {% for gig in gigs %}
                                    {% include "gigs/gig-list.html" %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- End blog-page block -->
        <!-- End user-detail -->
    {% endblock content %}
