.container-addons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

h1.addon {
    color: #A13333;
}

.left {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
}

.left2 {
    flex: 1;
    box-sizing: border-box;
    margin-left: 100px;
}

.right {
    flex: 1;
    text-align: right;
}
.right2 {
    flex: 1;
    text-align: left;
    margin-left: 30px;
}

img.addons {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-right: 2rem;
}


.clear-pointer {
    all: unset;
    cursor: pointer;
}

/* .masonry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
} */


.favorite {
    margin-right: 10px;
    display: flex;
    align-items: top;

}

span {
    font-weight: 600;
}

@media only screen and(max-width: 768px) {
    .container-addons {
        flex-direction: column;
    }
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery-item {
    flex: 1 0 calc((100% - 60px) / 4);
    max-width: 100%;
}

.gallery-item:nth-child(-n + 2) {
    flex-basis: calc((100% - 45px) / 2);
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media(max-width: 767px) {
    .gallery-item:first-child {
        flex: 1 0 100%;
    }

    .gallery-item {
        flex: 1 0 47.5%;
    }
}

/* ------------------------- Masonry ------------------------- */
/* Step 2: center things inside the grid and clear some space around it by setting a device based max-width and margin*/

.masonry {
    text-align: center;
    max-width: 95vw;
    margin: auto;
}


/* Step 3: how big should the gap be between grid items? remember that the total gap between two items would be double what you set here since both would have that amount set as their individual padding. Also add box-sizing:border-box to make sure the padding doesn't affect the total widh of the item */

.masonry-item {
    padding: 5px;
    box-sizing: border-box;
    display: inline;
}


/* Step 4: Add media queries (subjective) to make the whole grid resposive. */

@media(min-width: 500px) {
    .masonry-item {
        width: 50%;
    }
}

@media(min-width: 1000px) {
    .masonry-item {
        width: 33.333%;
    }
}

@media(min-width: 1700px) {
    .masonry-item {
        width: 25%;
    }
}

@media(min-width: 2100px) {
    .masonry-item {
        width: 20%;
    }
}
