
.container-addons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  h1.addon {
    color: #A13333;
  }
  
  .left {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
  }

  .left2 {
    flex: 1;
    box-sizing: border-box;
    margin-left: 100px;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  .right2 {
    flex: 1;
    text-align: left;
    margin-left: 30px;
  }
  
  img.addons {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  i{
    margin-right: 10px;
    margin-top: 3px;
    }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
  }
  
  .grid-item {
    display: flex;
    align-items: top;
  }
  
  .favorite {
    margin-right: 10px;
    display: flex;
    align-items: top;
    
  }

  span {
    font-weight: 600;
  }
  
  @media only screen and (max-width: 768px) {
    .container-addons {
      flex-direction: column;
    }
  }





  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .gallery-item {
    flex: 1 0 calc((100% - 60px) / 4);
    max-width: 100%;
    a {
      height: 100%;
    }
  }
  
  .gallery-item:nth-child(-n+2) {
    flex-basis: calc((100% - 45px) / 2);
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .gallery-item a {
    height: 100%;
    object-fit: contain;
  }
  
  @media (max-width: 767px) {
    .gallery-item:first-child {
      flex: 1 0 100%;
    }
  
    .gallery-item {
      flex: 1 0 47.5%;
    }
  }
  
  
