{% extends '_base.html' %}
{% block title %}
    LENS UNO | Update Portfolio
{% endblock title %}
{% block content %}
    {% load widget_tweaks %}
    <section class="add-listing">
        <div class="add-listing__title-box">
            <div class="container">
                <h1 class="add-listing__title">Update Portfolio</h1>
            </div>
        </div>
        <div class="break"></div>
        <form class="add-listing__form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <!-- form box -->
                <div class="add-listing__form-box element-waypoint" id="general-info">
                    <h2 class="add-listing__form-title">Portfolio details</h2>
                    <div class="add-listing__form-content">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="add-listing__label" for="list-title">{{ form.slug.label }}</label>
                                {{ form.slug }}
                                {{ form.errors.slug }}
                            </div>
                            <div class="col-md-6">
                                <label class="add-listing__label" for="category">{{ form.website.label }}</label>
                                {{ form.website }}
                                {{ form.errors.website }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="add-listing__label" for="list-title">{{ form.social_ig.label }}</label>
                                {{ form.social_ig|attr:"value:https://www.instagram.com/" }}
                                {{ form.errors.social_ig }}
                            </div>
                            <div class="col-md-6">
                                <label class="add-listing__label" for="category">{{ form.social_fb.label }}</label>
                                {{ form.social_fb|attr:"value:https://www.facebook.com/" }}
                                {{ form.errors.social_fb }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="add-listing__label" for="list-title">{{ form.social_yt.label }}</label>
                                {{ form.social_yt|attr:"value:https://www.youtube.com/" }}
                                {{ form.errors.social_yt }}
                            </div>
                            <div class="col-md-6">
                                <label class="add-listing__label" for="category">{{ form.social_vm.label }}</label>
                                {{ form.social_vm|attr:"value:https://www.vimeo.com/" }}
                                {{ form.errors.social_vm }}
                            </div>
                        </div>
                        <label class="add-listing__label" for="description">{{ form.about.label }}</label>
                        {{ form.about }}
                        {{ form.errors.about }}
                        {{ form.media }}
                        <label class="add-listing__label" for="description">{{ form.service.label }}</label>
                        {{ form.service }}
                        {{ form.errors.service }}
                        {{ form.media }}
                        <!-- Photo FIELD -->
                        <div class="add-listing__form-content">
                            <div class="add-listing__input-file-box">
                                <label class="add-listing__label" for="location">
                                    Upload your horizontal banner photo with maximum resolution 3072x1920px and size 20Mb. This should represent your work. Don't worry, you can change it anytime.
                                </label>
                                {{ form.photo }}
                                {{ form.errors.photo }}
                            </div>
                        </div>
                        {% comment %} <div class="add-listing__form-content">
                            <div class="add-listing__input-file-box">
                                {{ form.photo }}
                                {{ form.errors.photo }}
                                <div class="add-listing__input-file-wrap">
                                    <i class="la la-cloud-upload"></i>
                                    <p>Click here to upload your banner photo. This should represent your work. Don't worry, you can change it anytime.</p>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <button class="add-listing__submit" type="submit">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            Update Portfolio
                        </button>
                        <a href="{% get_portfolio user.pk %}" class="btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
