{% extends '_base.html' %}
{% block title %}
    LENS UNO | Create Portfolio
{% endblock title %}
{% block content %}
{% load static %}
    <section class="add-listing">
        <div class="add-listing__title-box">
            <div class="container">
                <div style="display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            top: -40px">
                    <div style="flex: 1; text-align: right; margin-right: 30px">
                        <h1 style="text-align: right;">Step 2. Set up your portfolio.</h1>
                    </div>
                    <div style="flex: 1; text-align: left; margin-left: 30px">
                        <img src="{% static 'img/ui4.png' %}"
                             height="300px"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="break"></div>
        <form class="add-listing__form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <!-- form box -->
                <div class="add-listing__form-box element-waypoint" id="general-info">
                    <h2 class="add-listing__form-title">Portfolio details</h2>
                    <div class="add-listing__form-content">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="add-listing__label" for="list-title">{{ form.slug.label }}</label>
                                {{ form.slug }}
                                {{ form.errors.slug }}
                            </div>
                            <div class="col-md-6">
                                <label class="add-listing__label" for="category">{{ form.website.label }}</label>
                                {{ form.website }}
                                {{ form.errors.website }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="add-listing__label" for="list-title">{{ form.social_ig.label }}</label>
                                {{ form.social_ig }}
                                {{ form.errors.social_ig }}
                            </div>
                            <div class="col-md-6">
                                <label class="add-listing__label" for="category">{{ form.social_fb.label }}</label>
                                {{ form.social_fb }}
                                {{ form.errors.social_fb }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="add-listing__label" for="list-title">{{ form.social_yt.label }}</label>
                                {{ form.social_yt }}
                                {{ form.errors.social_yt }}
                            </div>
                            <div class="col-md-6">
                                <label class="add-listing__label" for="category">{{ form.social_vm.label }}</label>
                                {{ form.social_vm }}
                                {{ form.errors.social_vm }}
                            </div>
                        </div>
                        <label class="add-listing__label" for="description">{{ form.about.label }}</label>
                        {{ form.about }}
                        {{ form.errors.about }}
                        {{ form.media }}
                        <label class="add-listing__label" for="description">{{ form.service.label }}</label>
                        {{ form.service }}
                        {{ form.errors.service }}
                        {{ form.media }}
                        <div class="add-listing__form-content">
                            <div class="add-listing__input-file-box">
                                <label class="add-listing__label" for="location">
                                    Upload your banner photo with maximum resolution 1920x1080px. This should represent your work. Don't worry, you can change it anytime.
                                </label>
                                {{ form.photo }}
                                {{ form.errors.photo }}
                                {% comment %} <div class="add-listing__input-file-wrap">
                                    <i class="la la-cloud-upload"></i>
                                    <p>Click here to upload your avatar</p>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <button class="add-listing__submit" type="submit">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
