{% extends '_base.html' %}
{% block content %}
    <!-- about-block
================================================== -->
    <section class="about"
             style="background-image: url({{ portfolio.photo.url }});
                    height: 700px">
        <div class="container">
            <div class="about__box">
                <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-5">
                        <!-- testimonial-post module -->
                        <div class="testimonial-post portfolio-testimonial">
                            <a href="{{ portfolio.user.get_absolute_url }}" class="">
                                <img class="testimonial-post__image testimonial-post__image-top"
                                     src="{{ portfolio.user.avatar.url }}"
                                     alt="testimonial-image">
                            </a>
                            <div class="testimonial-post__content testimonial-post__content-bottom">
                                <ul class="team-post__social">
                                    {% if portfolio.website %}
                                        <li>
                                            <a href="{{ portfolio.website }}" class="website" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if social_ig %}
                                        <li>
                                            <a href="{{ portfolio.social_ig }}" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if social_fb %}
                                        <li>
                                            <a href="{{ portfolio.social_fb }}" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if social_yt %}
                                        <li>
                                            <a href="{{ portfolio.social_yt }}" class="youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        </li>
                                    {% endif %}
                                    {% if social_vm %}
                                        <li>
                                            <a href="{{ portfolio.social_vm }}" class="vimeo" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <p class="testimonial-post__description">{{ portfolio.about }}</p>
                            </div>
                        </div>
                        <!-- end testimonial-post module -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-block -->
    <!-- team-block
================================================== -->
    <section class="team">
        <div class="container">
            <!-- section-header module -->
            <div class="section-header">
                <h1 class="section-header__title">{{ portfolio.user.get_full_name }}</h1>
                <p class="section-header__description2">{{ portfolio.service }}</p>
            </div>
            <!-- end section-header module -->
            <div class="team__box">
                <div class="row">
                    {% for gig in gigs %}
                        <div class="col-lg-4 col-md-6">
                            <!-- team-post module -->
                            <div class="team-post">
                                <div class="team-post__gal">
                                    <a href="{{ gig.get_absolute_url }}">
                                        {% if gig.gallery.images.objects.all.0 %}<img src="{{ gig.gallery.images.objects.all.0.image.url }}" alt="">{% endif %}
                                    </a>
                                </div>
                                <div class="team-post__content">
                                    <h2 class="team-post__name">
                                        <a href="{{ gig.get_absolute_url }}">{{ gig.title }}</a>
                                    </h2>
                                    <span class="team-post__role">{{ gig.location.place }}</span>
                                    <br/>
                                    <span class="team-post__role">{{ gig.get_category_display }}</span>
                                    <p class="team-post__description">{{ gig.description|truncatechars:190 }}</p>
                                </div>
                            </div>
                            <!-- end team-post module -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End team-block -->
{% endblock content %}
{% block footer %}
    <!-- footer block module
			================================================== -->
    <footer class="footer footer-black">
        <div class="container">
            <div class="footer__up-part">
                <div class="footer__down-part footer__down-part-black">
                    <div class="row">
                        <div class="col-md-7">
                            <p class="footer__copyright">© 2023 LENS UNO</p>
                        </div>
                        <div class="col-md-5">
                            <ul class="footer__social-list">
                                <li>
                                    <a class="facebook"
                                       href="https://www.facebook.com/lensuno"
                                       target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter"
                                       href="https://www.twitter.com/lensuno"
                                       target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="linkedin"
                                       href="https://www.linkedin.com/company/lensuno"
                                       target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="instagram"
                                       href="https://www.instagram.com/lens.uno"
                                       target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->
{% endblock footer %}
