{% extends '_base.html' %}
{% block content %}
    <section class="add-listing">
        <div class="add-listing__title-box">
            <div class="container">
                <h1 class="add-listing__title" style="text-align: center; align: center">This page doesn't exist.</h1>
            </div>
        </div>
        <div class="break"></div>
        <div style="height: 65vh; text-align: center; align: center">
            Sorry, we can't find that page. You'll find lots to explore on the home page.
            <div>
                <a href="{% url 'main:index' %}" style="font-weight: 600">Back to Homepage</a>
            </div>
            <div style="font-weight: 600; font-size: 20rem">404</div>
        </div>
    </section>
{% endblock content %}
