{% extends '_base.html' %}
{% block content %}
    <section class="add-listing">
        <div class="add-listing__title-box">
            <div class="container">
                <h1 class="add-listing__title" style="text-align: center; align: center">Welcome!</h1>
            </div>
        </div>
        <div class="break"></div>
        <div class="container">
            <div style="height: 65vh; text-align: center; font-size: 1.2rem">
                Thank you for signing up to LENS UNO. To start using our service:
                <div>
                    <a href="#ModalCenter2"
                       hx-get="{% url 'users:signin-hx' %}"
                       hx-target="#dialog2"
                       data-toggle="modal">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </div>
                <div style="font-weight: 600; font-size: 20rem"></div>
            </div>
        </div>
    </section>
{% endblock content %}
