<!-- top-experience-block
================================================== -->
{% load static %}
<section class="top-experience">
    <div class="container">
        <!-- section-header module -->
        <div class="section-header">
            <h1 class="section-header__title white-style">Discover</h1>
            <p class="section-header__description">
                Whether you are looking for a photographer for your wedding, a videographer for your commercial shoot, or something in between, we are here to help.
            </p>
        </div>
        <!-- end section-header module -->
        <div class="top-experience__box owl-wrapper">
            <div class="owl-carousel" data-num="3">
                {% for category in categories %}
                    <div class="item">
                        <!-- place-gal module -->
                        <div class="place-gal">
                            <img class="place-gal__image"
                                 src="{% static 'upload/' %}top{{ category.0 }}.jpg"
                                 alt="{% static 'upload/' %}top{{ category.0 }}.jpg">
                            <div class="place-gal__content">
                                <ul class="place-gal__list">
                                    {% comment %} <li class="place-gal__list-item">
                                        <a href="#">5 Gigs</a>
                                    </li> {% endcomment %}
                                    <li class="place-gal__list-item">
                                        <a href="search/world/?category={{ category.0 }}">{{ category.1 }}</a>
                                    </li>
                                </ul>
                                <a class="btn-default" href="search/world/?category={{ category.0 }}">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    Explore
                                </a>
                            </div>
                        </div>
                        <!-- end place-gal module -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End top-experience-block -->
