<!-- top-experience-block
    ================================================== -->
{% load static %}
<section class="top-experience top-experience-white">
    <div class="container">
        <!-- section-header module -->
        <div class="section-header">
            <h1 class="section-header__title" style="color: black">Popular destinations</h1>
            <p class="section-header__description">Browse local photographers in hottest travel destinations.</p>
        </div>
        <!-- end section-header module -->
        <div class="top-experience__box top-experience-white__box owl-wrapper">
            <div class="owl-carousel" data-num="4">
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Amsterdam.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}amsterdam/">Amsterdam</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">5 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">255 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}amsterdam/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Paris.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}paris/">Paris</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}paris/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Venice.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}venice/">Venice</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">12 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">1003 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}venice/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Budapest.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}budapest/">Budapest</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">4 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">409 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}budapest/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Cinque Terre.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}cinque-terre/">Cinque Terre</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">5 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">255 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}cinque-terre/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/London.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}london/">London</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}london/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Lisbon.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}lisbon/">Lisbon</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}lisbon/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Berlin.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}berlin/">Berlin</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}berlin/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Vienna.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}vienna/">Vienna</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}vienna/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Prague.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}prague/">Prague</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}prague/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Florence.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}florence/">Florence</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}florence/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
                <div class="item">
                    <!-- place-gal module -->
                    <div class="place-gal">
                        <img class="place-gal__image"
                             src="{% static 'img/dest/Santorini.jpg' %}"
                             alt="place-image">
                        <div class="place-gal__content">
                            <h2 class="place-gal__title">
                                <a href="{% url 'main:search' %}santorini/">Santorini</a>
                            </h2>
                            {% comment %} <ul class="place-gal__list">
                                <li class="place-gal__list-item">
                                    <a href="#">8 Cities</a>
                                </li>
                                <li class="place-gal__list-item">
                                    <a href="#">749 Listing</a>
                                </li>
                            </ul> {% endcomment %}
                            <a class="btn-default" href="{% url 'main:search' %}santorini/">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                Explore
                            </a>
                        </div>
                    </div>
                    <!-- end place-gal module -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End top-experience-block -->
