<!-- Header
================================================== -->
{% load static %}
<header class="clearfix {% if is_home or is_portfolio %}{% else %}white-header-style fullwidth-with-search{% endif %}">
    <nav class="navbar navbar-expand-lg {% if is_home or is_portfolio %}navbar-dark bg-dark{% else %}navbar-light bg-light{% endif %}">
        <div class="container-fluid">
            {% comment %} <a class="navbar-brand" href="{% url 'main:index' %}"> {% endcomment %}
            <a class="navbar-brand" href="https://portal.lensuno.com">
                <img src="{% if is_home or is_portfolio %}{% static 'upload/weblogod.svg' %}{% else %}{% static 'upload/weblogoa.svg' %}{% endif %}"
                     alt="Logo"
                     class="navbar-brand"
                     style="height: 60px;
                            margin-left: 10px">
                {% comment %} LENS UNO {% endcomment %}
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if is_home or is_portfolio %}
                {% else %}
                    <form class="search-form" type="get" action="{% url 'main:search' %}">
                        <div class="search-form__input-holders">{{ form_search.search }}</div>
                        <button class="search-form__submit" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                {% endif %}
                <ul class="navbar-nav ml-auto right-list">
                    {% if not user.is_authenticated %}
                        {% include "main/sign-hx.html" %}
                        {% comment %} <li>
                            <a href="{% url 'users:sign' %}">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Signin</a>
                        </li>
                        <li>
                            <a href="{% url 'users:sign' %}">
                                <i class="fa fa-user-o" aria-hidden="true"></i> Signup</a>
                        </li> {% endcomment %}
                    {% endif %}
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                            <li>
                                <a href="#" onclick="return false;" class="account">Account<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    <li>
                                        <span>
                                            {% if user.first_name %}
                                                Hi {{ user.first_name }}!
                                            {% else %}
                                                Hi!
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li>
                                        <a href="{% url 'users:profile' user.pk %}">Profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'users:settings' %}">Edit profile</a>
                                    </li>
                                    <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                    <li>
                                        <a href="{% url 'wishlist:index' %}">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'payment:my-bookings' %}">Bookings</a>
                                    </li>
                                    {% comment %} <li>
                                        <a href="{% url 'chat:home' %}">Messages</a>
                                    </li> {% endcomment %}
                                    {% if not user.is_freelancer %}
                                        <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                        <li>
                                            <a href="{% url 'portfolio:step-one' %}"
                                               style="color: #A13333;
                                                      font-weight: 600">Offer your service</a>
                                        </li>
                                    {% endif %}
                                    {% if user.is_freelancer %}
                                        {% comment %} <li>
                                                <a href="#" onclick="return false;">Portfolio<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <ul class="dropdown"> {% endcomment %}
                                            <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                            <li>
                                                <a href="{% url 'portfolio:gig-create' %}">Add Gig</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'portfolio:my-gigs' %}">All My Gigs</a>
                                            </li>
                                            <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                            <li>
                                                <a href="{% get_portfolio user.pk %}">Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'portfolio:update' %}">Update Portfolio</a>
                                            </li>
                                            <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                            <li>
                                                <a href="{% url 'payment:my-orders' %}">Orders</a>
                                            </li>
                                            {% comment %} </ul>
                                            </li> {% endcomment %}
                                        {% endif %}
                                        <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                        <li>
                                            <a href="{% url 'users:signout' %}">Signout</a>
                                        </li>
                                    </ul>
                                </li>
                                {% comment %} <li>
                                    <a href="contact.html">Contact</a>
                                </li> {% endcomment %}
                            </ul>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        {% if user.is_freelancer %}
                            <a href="{% url 'portfolio:gig-create' %}"
                               class="add-list-btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Add Gig</a>
                        {% else %}
                            <a href="{% url 'wishlist:index' %}" class="add-list-btn btn-default"><i class="fa fa-heart" aria-hidden="true"></i> My Wishlist</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header -->
