<!-- trending-places-block
================================================== -->
<section class="trending-places" style="margin-top: -130px">
    <div class="container">
        <!-- section-header module -->
        <div class="section-header">
            <h1 class="section-header__title-primary">Post Production</h1>
            <p class="section-header__description">
                We offer services to transform your raw images and footage into stunning final products.
            </p>
        </div>
        <!-- end section-header module -->
        <div class="trending-places__box owl-wrapper">
            <div class="owl-carousel" data-num="3">
                {% for gig in post_production %}
                    {% include "gigs/gig-card.html" %}
                {% endfor %}
            </div>
        </div>
        <div class="center-button">
            <a class="text-btn" href="/search/world/">
                View More Gigs
                {% comment %} <span>({{ post_production.count }})</span> {% endcomment %}
            </a>
        </div>
    </div>
</section>
<!-- End trending-places-block -->
