
/*------------------------------------------------- */
/* =  packages module
/*------------------------------------------------- */
.modal-backdrop {
	z-index: 40;
}

.packages {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	position: relative;
	@include border-radius(0.5rem);
	&__content {
		width: 100%;
		align-items: center;
		padding: 0 2rem 1.7rem 2rem;
	}
	&__next {
		display: flex;
		align-items: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-align: right;
		flex-direction: row-reverse;
	}
	&__content {
		i {
			margin-right: 1rem;
		}
	}
	&__next {
		i {
			margin-left: 1rem;
		}
		padding-right: 0.5rem;
		width: 100%;
	}
	&__desc {
		@extend .paragraph;
		margin-bottom: 0;

	}
	&__title {
		margin-bottom: 0;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		&.dark-red {
			color: $primary-color;
		}
		&.golden {
			color: $golden-color;
		}
	}
	&__price {
		margin-bottom: 0;
		text-align: right;
		font-size: 16px;
		font-weight: 600;
		&.dark-red {
			color: $primary-color;
		}
		&.golden {
			color: $golden-color;
		}
	}
	&__avail {
		text-align: right;
		color: black;
		font-weight: 200;
		font-size: 13px;
	}
	&__book {
		padding: 0.4rem 1.375rem;
		color: white;
		text-align: center;
		border: 1px solid $primary-color;
		background: $primary-color;
		font-weight: 600;
		@include border-radius(0.25rem);
		@include transition(0.2s);
		margin: 0.3rem 0 0.3rem;
		cursor: pointer;
		a {
			color: white;
			text-align: center;
		}
	}
	&__booknow {
		padding-top: 2rem;
	}
	hr {
		margin: 0;
		margin-top: 0;
	}
}

@media (max-width: 1199px) {		
	.packages:after {
		content: '';
		left: 68%;
	}
}

@media (max-width: 576px) {
	.packages {
		position: relative;
		display: block;
		&__content,
		&__next {
			position: relative;
			width: 100%;
			text-align: left;
			padding-bottom: 1rem;
		}
	}
	.packages:after {
		display: none;
	}
}

/*------------------------------------------------- */
/* =  packages-tab module
/*------------------------------------------------- */

.pack {
	position: relative;
	&__area {
		background: transparent;
		width: 100%;
		border: 1px solid #e2e7ea;
		@include border-radius(0.25rem);
		@include box-shadow(0 0.5rem 1rem rgba(0,0,0,0.03));
	}
	&__top {
		width: 33.33%;
		text-align: center;
	}
	&__btn-update {
		display: inline-block;
		padding: 4px 12px;
		margin-bottom: 1rem;
		border-bottom: 1px solid #bbbbbb;
		text-align: center;
		font-size: small;
		cursor: pointer;
	}
	&__center {
		text-align: center;
	}
}

.btn-update-pack {
	display: inline-block;
	padding: 4px 12px;
	border-bottom: 1px solid #bbbbbb;
	text-align: center;
	font-size: small;
	cursor: pointer;
}

/*------------------------------------------------- */
/* =  portfolio block
/*------------------------------------------------- */

.portfolio {
	margin-top: 0;
	background-color: #000;
	&__line {
		padding-top: 3.75rem;
		border-top: 1px solid #757170;
	}
	&__top {
		padding-top: 8rem;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	&__avatar {
		height: 100%;
		a {
			display: flex;
			justify-content: center;
			align-content: center;
			height: 100%;
			flex-wrap: wrap;
	}
	}
	&__box-line {
		margin-bottom: 3rem;
	}
}

@media (max-width: 991px) {
	.portfolio {
		padding-top: 4rem;
		&__top {
			padding-top: 2rem;
		}
		&__avatar{
			padding-bottom: 2rem;
			padding-right: 0;
		}
	}
}


.portfolio-header {
	text-align: left;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		padding: 0 1rem;
	}
	&__title {
		font-size: 1.5rem;
		font-weight: 200;
		margin-bottom: 1rem;
		letter-spacing: -0.0625rem;
		color: #cbd9df;
	}
	&__social {
		@extend .reset-elem;
		li {
			display: inline-block;
			margin: 0rem 0.225rem 1rem;g
			a {
				display: inline-block;
				color: #fff;
				width: 2rem;
				height: 2rem;
				font-size: 0.75rem;
				line-height: 1.75rem;
				background: transparent;
				@include border-radius(50%);
			}
		}
	}
	&__content-bottom {
		margin-bottom: 0;
		height: 8rem;
	}
	&__quote {
		color: $primary-color;
		font-size: 3.75rem;
		display: inline-block;
		font-family: $font-alternative2;
		margin-bottom: -1rem;
		margin-top: -3.5rem;
	}
	&__username {
		color: #fff;
		font-size: 1.0625rem;
		font-weight: 300;
		span {
			color: #cbd9df;
		}
		a {
			color: #fff;
		}
		a:hover {
			text-decoration: underline !important;
		}
	&__title-white {
		color: #fff;
	}
	}
	&__description {
		p {
		color: #8e8e8e;
		font-size: 1.0625rem;
		font-weight: 200;
		margin-bottom: 0;
		text-align: left;
		}
	}
	&__image {
		width: 9rem;
		height: 9rem;
		object-fit: cover;
		@include border-radius(50%);
	}
	&__image-top {
		margin-bottom: -2.1875rem;
	}
	
}
@media (max-width: 991px) {
	.portfolio-portfolio-header {
		width: 350px;
		margin: auto;
	}
}

.gallery-box {
	width: 150px;
	display: inline-block;
	margin-bottom: 20px;
	.gallery-row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}