
/*------------------------------------------------- */
/* =  packages module
/*------------------------------------------------- */

.packages {
	margin-top: 1rem;
	margin-bottom: 1rem;
	// padding-top: 1.5rem;
	// padding-bottom: 1.5rem;
	border: 1px solid #eeeeee;
	display: flex;
	position: relative;
	cursor: pointer;
	@include border-radius(0.5rem);
	&__content {
		display: flex;
		width: 73%;
		align-items: center;
		padding: 1rem;
		padding-left: 2rem;
		i {
			font-size: 20px;
			color: #999999;
			@include transition(0.2s);
		}
	}
	&__next {
		display: flex;
		width: 30%;
		align-items: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		i {
			font-size: 20px;
			color: #999999;
			margin-right: 16px;
			@include transition(0.2s);
		}
		text-align: right;
		flex-direction: row-reverse;
	}
	&__content:hover i,
	&__next:hover i {
		color: $primary-color;
	}
	&__content {
		i {
			margin-right: 1rem;
		}
	}
	&__next {
		i {
			margin-left: 1rem;
		}
	}
	&__desc {
		@extend .paragraph;
		margin-bottom: 0;

	}
	&__title {
		margin-bottom: 0;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration-line: underline;
		&.dark-red {
			color: $primary-color;
		}
		&.golden {
			color: $golden-color;
		}
	}
	&__price {
		margin-top: 0.5rem;
		color: black;
		font-weight: 700;
		font-size: 13px;
	}
	&__book {
		padding: 1rem 0 1rem;
	}
	hr {
		margin: 0;
	}
}

.packages:hover {
	background-color: #eeeeee;
	@include transition(0.2s);
}

.packages:after {
	content: '';
	position: absolute;
	top: 1.5rem;
	bottom: 1.5rem;
	left: 73%;
	width: 1px;
	background: #eeeeee;
}

@media (max-width: 1199px) {		
	.packages:after {
		content: '';
		left: 68%;
	}
}

@media (max-width: 576px) {
	.packages {
		position: relative;
		display: block;
		&__content,
		&__next {
			position: relative;
			display: flex;
			width: 100%;
			text-align: left;
			padding-bottom: 1rem;
		}
	}
	.packages:after {
		display: none;
	}
}

